<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {titulo: 'Home'}) %>
<body>
    <div class="container">
        <h1>Livraria Crud</h1>

        <main class="livros">
            <div class="livro">
                <h3>Livro: Harry Potter e a Pedra Filosofal</h3>
                <p>Ano de lançamento: 1998</p>
                <p>Editora: DH</p>
                <p>Estoque: 12</p>
                <a href="#">Editar</a>
            </div>

            <div class="livro">
                <h3>Livro: Harry Potter e a Pedra Filosofal</h3>
                <p>Ano de lançamento: 1998</p>
                <p>Editora: DH</p>
                <p>Estoque: 12</p>
                <a href="#">Editar</a>
            </div>

            <div class="livro">
                <h3>Livro: Harry Potter e a Pedra Filosofal</h3>
                <p>Ano de lançamento: 1998</p>
                <p>Editora: DH</p>
                <p>Estoque: 12</p>
                <a href="#">Editar</a>
            </div>

            <div class="livro">
                <h3>Livro: Harry Potter e a Pedra Filosofal</h3>
                <p>Ano de lançamento: 1998</p>
                <p>Editora: DH</p>
                <p>Estoque: 12</p>
                <a href="#">Editar</a>
            </div>

            <div class="livro">
                <h3>Livro: Harry Potter e a Pedra Filosofal</h3>
                <p>Ano de lançamento: 1998</p>
                <p>Editora: DH</p>
                <p>Estoque: 12</p>
                <a href="#">Editar</a>
            </div>
        </main>
        
    </div>
</body>
</html>