:root{
    --cor-principal: #1E1E1E;
    --cor-cinza-claro: #E5E5E5;
    --font-titulo:'Comfortaa', cursive;
    --font-texto:'Roboto', sans-serif;
}

body{
    background-color: var(--cor-principal);
}

h1, h2{
    font-family: var(--font-titulo);
    color: #ffffff;
}

p{
    font-family: var(--font-texto) ;
}

