.btn-cadastro{
    position: absolute;
    right: 0;
    top:0;
    display: inline-block;
    color: var(--cor-principal);
    padding: 10px;
    background-color: var(--cor-cinza-claro);
    font-family: var(--font-texto);
    border-radius: 8px;
    text-decoration: none;
}

.btn-cadastro:hover{
    opacity: 0.8;
}

.container main{
    margin-top: 60px;
}

.container .livros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 50px;
    flex-wrap: nowrap;
}

.container .livros .livro h3{
    font-size: 18px;
    color: var(--cor-principal);
    font-family: var(--font-texto);
}

.container .livros .livro{
    background-color: var(--cor-cinza-claro);
    padding: 30px;
    border-radius: 8px;
}

.container .livros .livro a{
    background-color: var(--cor-principal);
    padding: 10px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: var(--font-texto);
    color: #ffffff;
    text-decoration: none;
}

.container .livros .livro a:hover{
    opacity: 0.8;
}


@media(max-width: 1200px){
    .container{
        width: 90%;
    }
}